@import '../common/main.scss';

.aboutContainer {
    // background: (linear-gradient(transparent, $light-beige));
    // background-color: white;
    // height: calc(100vh - rem(50px));
    width: 100vw;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
}
h1 {
    margin-top: rem(20px);
}

.shortIntro {
    width: 35vw;
    margin: 10px;
}

.introContainer {
    width: 50vw;
    display: flex;
    flex-direction: row;
    align-content: center;
}

.restIntro {
    width: 40vw;
    margin: 5px;
    align-self: center;
}

.socials {
    width: 10vw;
    align-self: center;
    font-size: small;
    a,
    a:visited {
        text-decoration: none;
        color: $dark-blue;
        font-weight: 800;
        cursor: pointer;
    }
    a:hover {
        text-decoration: underline;
        transition: all 0.2s ease-in;
    }
}
