@import '../common/main.scss';

.aboutContainer {
    // background: (linear-gradient(transparent, $light-beige));
    // background-color: white;
    background-size: 100vw;
    height: calc(100vh - #{$header-height});
    width: 100vw;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    text-align: center;
}
h1 {
    margin-top: rem(40px);
}

.shortIntro {
    width: 40vw;
    margin: rem(10px);
}

.introContainer {
    width: 70vw;
    margin-bottom: rem(50px);
    display: flex;
    flex-direction: row;
    align-content: center;
}

.restIntro {
    width: 40vw;
    margin: rem(5px);
    align-self: center;
    font-size: x-large;
}

.socials {
    width: 15vw;
    align-self: center;
    font-size: large;
    a,
    a:visited {
        text-decoration: none;
        color: $dark-blue;
        font-weight: 800;
        cursor: pointer;
    }
    a:hover {
        text-decoration: underline;
        transition: all 0.2s ease-in;
    }
}

.img {
    width: 15vw;
    margin: rem(50px);
    border-radius: 20%;
}
