@import '../common/main.scss';

.headerContainer {
    height: $header-height;
    display: flex;
    position: fixed;
    width: 100%;
    top: 0;
    justify-content: space-between;
    align-items: center;
    font-size: $font-medium;
}
h2 {
    margin-left: rem(20px);
    cursor: pointer;
}
.theme {
    margin-right: rem(20px);
    border: 2px black solid;
    border-radius: 40%;
    align-items: center;
}
