@import '../common/main.scss';

.headerContainer {
    height: rem(50px);
    position: fixed;
    width: 100%;
    top: 0;
    font-size: $font-xLarge;
    z-index: 5;
}

.light {
    color: $dark-blue;
}

.dark {
    color: $light-beige;
}

.items {
    display: flex;
    margin-left: auto;
    flex-direction: row;
    align-items: center;
}
