@import '../common/main.scss';

.buttonContainer {
    border-radius: rem(70px);
    &.small {
        height: rem(35px);
        width: rem(80px);
        font-size: $font-medium;
    }
    &.medium {
        height: rem(70px);
        width: rem(150px);
        font-size: $font-large;
    }
    &.large {
        height: rem(34px);
        width: rem(150px);
        font-size: $font-xLarge;
    }
}

button {
    border-radius: inherit;
    width: 100%;
    height: 100%;
    text-align: center;
    font-size: inherit;
    align-items: center;
}
