@import './components/common/main.scss';

.app {
    height: 100vh;
    // transition: background-color 0.5s ease-in;
}
.sections {
    width: 100%;
    height: calc(100vh - $header-height);
    // scroll-snap-type: y mandatory;
    scroll-behavior: smooth;
    position: relative;
    top: $header-height;
    > * {
        height: calc(100vh - $header-height);
    }
}

.mobile {
    height: 100vh;
    background-color: $dark-blue;
    color: $beige;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: $font-large;
}
