@import './components/common/main.scss';

.app {
  height: 100vh;
}
.sections {
  width: 100%;
  height: calc(100vh - $header-height);
  scroll-snap-type: y mandatory;
  position: relative;
  top: $header-height;
  > *{
    height: calc(100vh - $header-height);
    scroll-snap-align: start;
  }
}
